GCP_PROJECT=replace-with-gcp-project-id
CLOUDRUN_REGION=europe-west2
ARTIFACT_REGISTRY_REPOSITORY=chatbot-survey
CLOUDRUN_SERVICE_NAME=chatbot-survey-temp
BACKEND_IMAGE_TAG=temp
FRONTEND_IMAGE_TAG=temp

APP_ENV=production
DATABASE_NAME=persuasive_ai_study
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/openai/v1
AZURE_OPENAI_API_KEY=replace-with-real-key
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-mini
MONGODB_URL=mongodb+srv://replace-with-real-username:replace-with-real-password@cluster.example.mongodb.net/?retryWrites=true&w=majority
ALLOWED_ORIGINS=*
